POSTGRES_DB=crud_demo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace-with-a-strong-database-password
POSTGRES_PORT=5432

APP_USERNAME=admin
APP_PASSWORD=replace-with-a-strong-console-password
APP_ALLOWED_SCHEMAS=public
APP_READ_ONLY=false
APP_ALLOWED_ORIGINS=http://localhost:8080

FRONTEND_PORT=8080
BACKEND_PORT=8081
